body {

    background-color: none;
    text-align: center;
    background-size: cover;
    background-image: url("church.jpg");
    color: aliceblue;
    font-size: 200%;
    background-size: auto;


}

img{
    width: 100px;
    height: 90px;
    border-radius: 70%;
    border-style: groove;
    border-color: #f3f70e;
}


button {

    background: white;
    font-size: 100%;
    border-radius: 10px;
}

#increment-btn {

    background: darkred;
    padding-bottom: ;
    color: aliceblue;
}

#save-btn {
    background: darkgreen;
    color: aliceblue;
    border-radius: 10px;


}

#count-el {
    color: rgb(224, 240, 10);
    font-size: 150%;
    animation-name: color-change;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes color-change {
    0% {
        color: rgb(206, 179, 179);
    }

    50% {
        color: rgb(14, 236, 62);
    }

    100% {
        color: rgb(238, 26, 167);
    }
}



p {
    display: table;
    /* keep the background color wrapped tight */
    margin: 30px auto 30px auto;
    /* keep the table centered */
    padding: 4px;
    font-size: 50px;
    background-color: rgb(3, 27, 29);
    color: #f3f70e;
    border-radius: 5px;
    animation: pulsing 0.1s infinite;
    transition: width 2s, height 2s, transform 2s;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;

}


@keyframes pulsing {
    0% {
        box-shadow: 0 0 10px #fff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 50px #0ff, 0 0 60px #0ff, 0 0 70px #0ff;
    }

    50% {
        box-shadow: 0 0 10px #fff, 0 0 20px #ff0, 0 0 30px #ff0, 0 0 40px #ff0, 0 0 50px #ff0, 0 0 60px #ff0, 0 0 70px #ff0;
    }

    100% {
        box-shadow: 0 0 10px #fff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 50px #0ff, 0 0 60px #0ff, 0 0 70px #0ff;
    }

}
